
:root {
  --main-color: #ff3150;
  --secondary-color:#33d1cc;
  --third-color:#ffc400;
  --fourth-color:#eff7fa;

    --main-background-color:#19283f;

    --main-padding-top: 20px;
    --main-padding-bottom: 20px;

    --main-duration: 0.5s;
}

/* ! Start media  */

/* @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

/* ! End media  */

*{display:visible;}


body {
height: 1000px;
font-family:'Roboto', sans-serif;
 
}

@media (max-width:767px) {
  body h1 , body p {
    text-align: center;
  }
    
}
/* todo start header */

.nav {
  margin-right: 5px;
  margin-top: 34px;
 
}

.zero {
  right: 77px;
  top:-8px;
  
  }

.header .head-line {
 margin-top: 120px;
}
.head-line h1 {
font-size: 50px;

}


.head-line .btn .text-uppercase {
  background-color: #ff0000;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  padding: 14px 50px;
}

.Drone {
background: url("img/drone-3.jpg") center;
background-repeat: no-repeat;
background-size: 100%;
height: 100vh;


}

.fw-normal {
  font-size: 26px;
  padding: 0 308px;
 
}

@media (max-width:1200px) {
.fw-normal {
  padding: 0 15px;
}
  
}

/* todo end header */

/* todo start works */

.works{
  margin-top: 120px;
 background-color: #f7f7f7;
 }
 .works h1 {
 font-size: 50px;
 
 }

 .works p {
  font-size: 26px;
  padding: 0px 195px;
}

@media (max-width:1200px) {
  .works p {
    padding: 0 15px;
  }
    
  }
  .video video {
    width: 846px;
    height: 476px;
    left: 50px;
    top: 0px;
  }
 
  @media (max-width:1200px) {
    .video video  {
      width: 407px;
      height: 229px;
      left: 0px;
      top: 124px;
    }
      
    }


    .save {
      background-color: #ffffff;
    }
/* todo end works */

/* todo start carosel  */
.carousel-control-prev  .fa-solid {
background-color:#616466;
color: #fff;
height: 3rem;
line-height: 23px;
font-size: 13px;
padding: 13px 20px;
}

.carousel-control-next  .fa-solid {
  background-color:#616466;
  color: #fff;
  height: 3rem;
  line-height: 23px;
  font-size: 13px;
  padding: 13px 20px;
  }
  




/* todo end carosel  */

/* todo start gallery-3  */


.gallery-3 {
  margin-top: 120px;
 background-color: #f7f7f7;
 }
 .gallery-3  h1 {
 font-size: 50px;
 
 }

 .gallery-3  p {
  font-size: 26px;
  
}

@media (max-width:1200px) {
  .gallery-3  p {
    padding: 0 15px;
  }
    
  }
/* todo end gallery-3  */



.gallery-3 {
  margin-top: 120px;

  background-color:#fff;
 }

 .head-line {
  margin-top: 120px;
  background-color: #f7f7f7;
 }
 
 .gallery-3  .btn .text-uppercase {
  background-color: #ff0000;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  padding: 14px 109px;
 }
 
 /* todo start contact us  */
 .contact-us {
 background-color: #292929;
 }
 .contact-us ul li a i {
color: #ff0000;
 }

 /* todo end contact us  */

 /* todo start footer  */
.footer a {

text-decoration: none;
color: black;
}

.footer a:hover {
  color: red;
  text-decoration:underline;
  }
  /* todo end footer  */