/* Start Global Rules */

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

html {
  scroll-behavior: smooth;
}
  
  body {
    font-family: "work Sans" , sans-serif;
  }


 


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  font-family: "Work Sans", sans-serif;
}

/*Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Global Rules */

/* Start Components */
.special-heading {
  color: #333;
  font-weight: bold;
  font-size: 39px;
  display: flex;
  justify-content: center;
  letter-spacing: -3px;
  text-align: center;
}

.special-heading + p {
  color: darkgray;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: center;
  letter-spacing: -1px;
  margin-top: -2px;
}



/* end Components */

/* :start header */

.container {
padding-left: auto;
padding-right:auto;
margin-left:50px;
margin-right:50px;


}

.header {
padding: 15px;

}

.header .container {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;

}

.header .logo {
width: 120px;

}

.header .links {
position: relative;

}

.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
  flex-wrap: wrap;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

  .header .links .icon span {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
  
  }
  .header .links .icon span:last-child {
    width: 100%;
  }

.header .links ul {

position: absolute;
margin: 0;
padding: 0;
right: 0;
list-style-type: none;
min-width: 200px;
top: calc(100% + 15px);
background-color: #f6f6f6;
z-index: 1;
display:none;
}

.header .links:hover ul {
  display: block;
  
}

  
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}

.header .links ul li a:hover  {
  padding-left: 25px;
}


.header .links ul::before  {
  content: "";
  border:10px solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  top: -20px;
  right: -0.25px;
}




.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}


/* end header*/

/* start landing*/
.landing {
background-image: url("https://wallpaperaccess.com/full/686924.jpg");
background-size:cover;
height:calc(100vh - 64px);

/*position: relative;*/
display:flex;
justify-content:center;
text-align:center;

}



.landing .intro-text  {
  /*
  position: absolute;
  top: 50%;
  left: 50%;
transform: translate(-50%,-50%);

*/
margin-bottom: 163px;
align-self: center;
text-align: center;
transform: translate(-10%,-10%);
max-width: 100%;
}
.landing .intro-text h1 {
 margin: 0;
 font-weight: bold;
 font-size: 45px;
 color:var(--main-color);

}

.landing .intro-text p {
margin: 0;
font-size:18px;
line-height: 1.8;

  
}
/* end landing */

/*start features*/
.features {
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
  background-color: var(--section-background);
  

}

.features .container {
display:grid;
grid-template-columns:repeat(auto-fill ,minmax(300px,1fr));
gap:20px;


}

.features .feat {
  padding: 20px;
  text-align: center;
}


.features .feat i {
color:var(--main-color)
}


.features .feat h3 {
font-weight: bold;
margin: 15px 0; 
}

.features .feat p {
  line-height: 1.6;
  color: #777;
  font-size: 17px;
}

/*end features*/

/* start services */
.sevices {
  padding-top: 60px;
  padding-bottom:60px;
}

.services .services-content {
display: grid;
grid-template-columns:repeat(auto-fill ,minmax(300px,1fr));
gap:10px;
margin-top:100px;
}

.services .services-content .srv {
  flex-direction: column;
  text-align: center;
}

/* end services */


/* start portfolio */
portfolio {
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
  background-color: var(--section-background);
  

}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns:repeat(auto-fill ,minmax(300px,1fr));
  gap:10px;
  margin-top:500px;

          
}

.portfolio .portfolio-content .card {
background-color: gainsboro;
          
}
 

.portfolio .portfolio-content .card img {
 max-width:100%;
            
  }
 
.portfolio .portfolio-content .card .info {
padding: 20px;
          
}
 
.portfolio .portfolio-content .card h3 {
  margin:0;
  text-align: center;
            
  }
 
  .portfolio .portfolio-content .card p {
    color:#777;
    line-height: 1.6;
    margin-bottom:0;
    padding:50px;
    text-align:lrft;
   

    }


/* end portfolio */

/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* End About */
.contact {
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
  background-color: var(--section-background);
  

}

.contact .info {
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
text-align: center;
}
.contact .info .label {
font-size: 30px;
font-weight: 800;
color: var(--secondary-color);
letter-spacing: -2px;
margin-bottom: 15px;


}

.contact .info .link {
  display: block;
  font-size: 30px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}



.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}

.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}

/* end  About */

/* start footer */
.footer {
background-color: var(--secondary-color);
color: white;
padding:30px 10px;
text-align: center;
font-size: 18px;
}

.footer span {
font-weight: 800;
color: var(--main-color);

}
/* end  footer */




